.init-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #C1F2FF;
  border: none;
}

.init-image-wrapper img{
  /* width: 100vw; */
  /* width: 100%; */
  height: 130%;
}

.auth-right{
    position: absolute;
    transform: translateY(18px); 
    z-index: 1200;
    width: 25%;
    max-width: 500px;
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.5s ease;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 24px;
    background-color: white;
    box-shadow: 0 15px 30px 0 rgba(37, 40, 45, 0.36);
}

.slider{
    display: flex;
    align-items: center;
    width: 200%;
    gap: 5px;
    transition: transform 0.7s ease;
}

.slider > * {
    width: 50%;
    padding: 10px;
}
  
.move-left {
    transform: translateX(0);
}

.move-right {
    transform: translateX(-50%);
}
  
.title-letter-key{
  position: absolute;
  top: -50px;
  left: -230px;
  color: white;
  font-family: "sans-serif";
  font-size: 220px;
  font-weight: 700;
  letter-spacing: -10px;
  transform: rotate(-90deg);
  transform-origin: right center;
  z-index: 2;

}

.title-letter-note{
  position: absolute;
  bottom: -50px;
  right: 150px;
  color: white;
  font-family: "sans-serif";
  font-size: 220px;
  font-weight: 700;
  letter-spacing: -20px;
  transform: rotate(90deg);
  transform-origin: right center;
  z-index: 2;
}

.stamp-image{
  width: 13%;
  height: auto;
  position: absolute;
  right: 96px;
  top: 55px;
}