.presentation {
    z-index: 1200;
    position: absolute;
}

.wrapper-modal {
    position: fixed;
    inset: 0px;
    background-color: rgb(0 0 0 /71%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    min-height: 400px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 5px 8px 0px rgba(0, 0, 0, 0.14),
        0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    background: #111;
    overflow: hidden;
    border-radius: 8px;
    transition: all 400ms ease-in-out 2s;
    animation: fadeIn 400ms;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 1000;
    color: white;
}

.modal::-webkit-scrollbar {
    display: none;
    visibility: hidden;
}
