.logout-wrapper {
    width: 36px;
    height: 36px;
    display: inline-block;
    margin-right: 8px;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s;
}

.logout-wrapper:hover {
    background-color: #d1d1d1; 
}

.logout-wrapper:active {
    background-color: #c0c0c0;
}

.logout-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
}
