.profile-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #333;
    color: white;
}

.profile-image.medium{
    width: 40px;
    height: 40px;
}

.profile-image.large{
    width: 48px;
    height: 48px;
}
