.login-field {
    display: flex;
    flex-direction: column;
}

.signup-box {
    display: flex;
    justify-content: end;
}

.signup-box > .text-href{
    margin: 5px 0;
    font-size: 15px;
    color: #6f6f6f;
    text-decoration-line: none;
}

.signup-box > .text-href:hover{
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.socal_login {
    display: flex;
    gap: 10px;
}

.modal-temp{
  display: flex;
  flex-direction: column;
  align-items: ;
  justify-content: center;
  width: 100%;
  height: 220px;
  padding: 20px;
}

.modal-title{
  padding-bottom: 20px;
  font-size: 20px;
  text-align: left;
}

.modal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 18px 0;
}

.separator .line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}

.separator span {
  margin: 0 10px;
  color: #3F72AF;
  font-size: 14px;
}

.view-gen-org-section:hover {
  cursor: pointer;
}

.modal-slider{
  transition: transform 0.7s ease;
}

.modal-slider.slide-top{
  transform: translateY(98px);
}

.modal-slider.slide-bottom{
  transform: translateY(-120px);
}

.search-org-name {
  width: 50%;
  padding-right: 16px;
}

.search-org-results {
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-radius: 12px;
  width: 50%;
  height: 100%;
}

.organization-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4px;
}

.request-org-list {
  overflow-y: scroll;
  width: 50%;
  height: 100%;
}

.request-message-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4px;
}
