.side {
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 100vh;
    border-right: 1px solid #e6e6e6;
}

.snb {
    position: relative; 
    flex: 1;
    padding: 0;
    background-color: #e6e6e6;
}

.team {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 100%;
}

.team-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.channel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    left: 70px;
    box-sizing: border-box;
    background-color: white;
    color: black;
}

.channel .channel-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    list-style-type: none;
}

.channel .channel-list > h2 {
    width: 95%;
    margin: 1em 0;
    padding: 0 .5em;
    box-sizing: border-box;
    font-size: 1.1em;
    text-align: left;
}

.channel .channel-list > li {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 1em;
    box-sizing: border-box;
    border-top: 1px solid #e6e6e6;
    background-color: white;
}

.user-info > div {
    display: flex;
    align-items: center;
}

.user-name {
    font-weight: 700;
}

.user-desc {
    display: flex;
    font-size: 0.9em;
    color: #666;
}

.user-org-message{
    position: relative;
    width: 24px;
    height: 24px;
}

.notification img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-org-message > .notification {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-org-message > .notification > .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: rgba(255, 0, 0, 0.751);
  color: white;
  border-radius: 50%;
  padding: 0.2em 0.5em;
  font-size: 0.7em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.request-modal-temp{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 320px;
  gap: 16px;
  /* padding: 20px; */
}

.request-modal-title{
  font-size: 24px;
  text-align: left;
}

.request-modal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #488df5;
  border-radius: 12px;
  height: 70%;
  width: 90%;
}

.request-message-results {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  /* overflow-y: scroll; */
  width: 60%;
  height: 100%;
}

.organization-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4px;
}

.request-org-list {
  /* overflow-y: scroll; */
  /* border-right: 1px solid #b4b4b4; */
  /* border-right: 1px solid #488df5; */
  width: 40%;
  height: 100%;
}

.request-message-item {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  align-items: center;
  /* margin-top: 4px; */
  padding: 6px 8px;
  font-size: 13px;
  /* gap: 6px; */
  /* border-bottom: 1px solid rgba(209, 209, 209, 0.692); */
  /* border-bottom: 1px solid #b4b4b4; */
  /* border-bottom: 1px solid #488df5; */
}

.request-message-item button {
  border-radius: 12px;
  /* border: 1px solid #6f6f6f; */
  border: none;
  color: white;
  background-color: #0066FF;
  height: 28px;
  width: 48px;
}

.request-message-item button:hover {
  background-color: white;
  color: #0066FF;
  border: 1px solid #0066FF;
  transition: 0.5s;
}

.request-message-view {
  /* background-color: black; */
  margin-bottom: 36px;
  width: 90%;
  height: 72%;
  border-radius: 12px;
  border: 1px solid #eee;
}

.request-button-wrapper{
  display: flex;
  position: absolute;
  bottom: 40px;
  gap: 24px;
}

.request-message-button {
  border-radius: 8px;
  border: none;
  border: 1px solid white;
  background-color: #0066FF;
  color:white;
  font-weight: 400;
  width: 64px;
  height: 28px;
}

.request-message-button:hover {
  background-color: white;
  color: #0066FF;
  border: 1px solid #0066FF;
  transition: 0.5s;
}
