.summary-container{
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: #e6e6e6; 
}

.summary-container > div {
    flex: 1;
    padding: 1rem;
    box-sizing: border-box;
}
